.dropDown {
  position: absolute;
  top: 120%;
  z-index: 99;
  border-radius: 10px;
  background-color: rgb(17, 23, 29);
  border: 0.5px solid rgb(173, 173, 173);

  ul {
    padding: 0 20px 10px 20px;
    li {
      display: flex;
      align-items: center;
      margin-top: 10px;
      gap: 10px;
    }
  }
}
