.dropDown {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 99;
  border-radius: 10px;
  background-color: rgb(17, 23, 29);
  border: 0.5px solid rgb(173, 173, 173);
  color: white;
  overflow: hidden;
  a {
    width: 100%;
  }

  ul {
    padding: 0;
    li {
      padding: 0 !important;
      span {
        text-wrap: nowrap;
      }
    }
  }
}
