.header__navigation {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  .desktop-nav {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    li {
      padding: 10px 5px;
      position: relative;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;

        &::before {
          content: attr(data-text);
          opacity: 0;
          transform: translateX(100%);
          transition: 0.5s ease;
        }

        &:hover::before {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  &-profile {
    margin-left: 40px;
  }
}

.mobile-menu-button {
  display: none !important;
  padding: 10px;
}

.sideBarMenu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }

  .mobile-menu-button {
    display: flex !important;
  }

  .sideBarMenu {
    display: block;
  }
}
